<% if user_signed_in? %>
<h1 class="mb-5">Welcome back <%= current_user.name %></h1>
<% @posts.each do |post| %>
<div class="card m-2">
  <div class="card-body">
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <small>Post by: <%= post.user.name %></small>
  </div>
</div>

<% end %> <% else %>

<h1 class="mb-5">Welcome to members</h1>
<% @posts.each do |post| %>
<div class="card m-2">
  <div class="card-body">
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
  </div>
</div>

<% end %> <% end %>
